/* ================= INDEX TABLETTE ================= */

@media (max-width: 1100px) {
    .search-box {
        grid-template-columns:
            1fr 1fr;
        gap: 20px;
    }

    .form-button {
        grid-column: 1 / -1;
        width: 255px;
        justify-self: center;
    }
}

/* ================= INDEX MOBILE ================= */

@media (max-width: 700px) {
    .search-section {
        margin-top: -30px;
        padding: 0 15px;
    }

    .search-box {
        grid-template-columns: 1fr;
        padding: 20px;
        border-radius: 16px;
        gap: 22px;
    }

    .what-grid {
        grid-template-columns:
            repeat(2, max-content);
    }

    .date-field {
        grid-template-columns: 1fr;
        gap: 4px;
    }

    .form-button {
        grid-column: 1;
        width: 100%;
    }
}

/* ================= BREADCRUMB TABLETTE ================= */

@media screen and (max-width: 992px) {
    .breadcrumb-ol {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
    }

    .container-bread {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
    }

    .bread-2 {
        margin-left: auto;
    }

    .breadcrumb-li,
    .breadcrumb-li-end {
        font-size: 13px;
    }
}

/* ================= BREADCRUMB MOBILE ================= */

@media screen and (max-width: 576px) {
    .breadcrumb-ol {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .container-bread {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    .bread-2 {
        margin-left: 0;
    }

    .breadcrumb-li,
    .breadcrumb-li-end {
        font-size: 12px;
    }

    .breadcrumb-ol p {
        margin: 0;
    }
}

/* ================= CAROUSEL TABLETTE ================= */

@media screen and (max-width: 992px) {
    .hotel-content {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .carousel {
        height: 400px;
    }

    .thumbnail {
        width: 100px;
        height: 70px;
    }
}

/* ================= CAROUSEL MOBILE ================= */

@media screen and (max-width: 576px) {
    .hotel-content {
        width: 95%;
        margin: 30px auto;
        gap: 20px;
    }

    .carousel {
        height: 280px;
        border-radius: 6px;
    }

    .carousel-btn {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    /* Petite images */

    .thumbnails {
        gap: 6px;
        overflow-x: auto;
        padding-bottom: 5px;
    }

    .thumbnail {
        min-width: 65px;
        width: 65px;
        height: 50px;
    }

    /* Informations */

    .information-box {
        padding: 20px;
    }

    .information-box h1 {
        font-size: 24px;
    }

    .information-box h2 {
        font-size: 20px;
    }
}