/* ================= RESET & BASE ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(1, 37, 53);
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    background-color: whitesmoke
}

/* ================= MAIN ================= */
main {
    margin: 0 auto; 
}

.separation {
    width: 95%;
    margin-left: 30px;
    margin-top: 50px;
}

/* ================= LOGO ================= */
.logo {
    margin-left: 20px;
    color: #2fa69a;
    font-weight: 500;
    font-size: large;
    border-radius: 10px;
    box-shadow: #a6a62f 2px 2px;
    margin-bottom: 10px;
}

/* ================= PHONE NUMBER ================= */
.phone {
    margin-top: 10px;
    font-size: 30px;
    color: #29a2b4;
    margin-bottom: 10px;

}

.phone-number {
    display: flex;
    margin-top: 30px;
    margin: 0 auto;
    text-decoration: none;
    color: #5f554c;
    padding-top: 5px;
}

.numéro {
    list-style: none;
}

/* ================= BARRE DE RECHERCHE ================= */
.search-container {
    position: relative;
    width: 350px;
    max-width: 90%;
    margin-bottom: 10px;
}

.search-container input {
    width: 100%;
    padding: 14px 55px 14px 20px;
    border-radius: 40px;
    border: 2px solid #cfcfcf;
    background-color: #efefef;
    font-size: 16px;
    outline: none;
    color: #666;
}

.search-container input::placeholder {
    color: #9a9a9a;
}

.search-button {
    position: absolute;
    right: 20px;
    top: 55%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    margin-top: -5px;
}

/* ================= COMPTE ================= */
.connexion-home {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 5px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.compte {
    font-size: 30px;
    color: #2bbad0;
    margin-right: 10px;
}

.p-compte {
    margin: 0;
    color: #5f554c;
    padding-top: 5px;
    white-space: nowrap;
    color: rgb(1, 37, 53);
}

/* ================= LANGUES ================= */
.langue {
    border-radius: 10px;
    color: rgb(1, 37, 53);
}

.container-langue {
    padding-right: 20px;
}

/* ================= DEVISE ================= */
.devise {
    border-radius: 10px;
    color: rgb(1, 37, 53);
}

/* ================= MENU DE NAVIGATION ================= */
.menu {
  background-color: rgb(1, 37, 53);
  padding: 5px;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu a:hover {
  color: #bcbc2d;
}

.menu a:focus {
  color: #bcbc2d;
}



/* ================= FOOTER ================= */

/* BODY */

.footer {
  background: rgb(1, 37, 53);
  padding: 50px 60px 0;
  color: white;
}

.footer-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 220px;
}

/* TITRE */

.footer h3 {
  color: white;
  margin-bottom: 30px;
}

/* PARAGRAPHE */

.footer p {
  margin-bottom: 5px;
  color: white;
}

p strong {
  color: #bcbc2d;
}

/* LISTE */

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: flex;
  align-items: center;
  color: white;
}

.footer ul li::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #bcbc2d;
  border-radius: 50%;
  margin-right: 10px;
}

/* ICONES SOCIALES */
.socials {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.socials a {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

/* BARRE EMAIL */
.signup-container {
  display: flex;
  border-radius: 40px;
  overflow: hidden;
  background: white;
  border: 1px solid white;
  width: 350px;
  position: relative;
  width: 100%;
}

.signup-input {
  flex: 1;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  background: transparent;
}

.signup-button {
  background: #bcbc2d;
  color: rgb(1, 37, 53);
  border: none;
  padding: 0 25px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 0 40px 40px 0;
}

.signup-button:hover {
  background: #20a9bf;
    transform: translateY(-1px);
    box-shadow:
        0 5px 12px rgba(43, 186, 208, 0.25);
    color: white;
}

/* LIGNE BAS */
.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid white;
}


/* ================= FOOTER BAS ================= */


.footer-bas {
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: white;
  font-size: 18px;
  flex-wrap: wrap;
}

.footer-right-bas {
  padding-top: 30px;
  flex-wrap: wrap;
  /* les liens passent à la ligne */
  text-align: center;
}

.footer-left-bas {
  flex-wrap: wrap;
  color: white;
}

.footer-right-bas a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.footer-right-bas a:hover {
  text-decoration: underline;
}

/* SEPARATEURS | */
.footer-right-bas a:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  color: white;
}